body {
  width: 320px;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: #ccc;
}
@-webkit-keyframes enlarge {
  0% {
    padding: 15px 0;
  }
  100% {
    padding: 30px 0;
  }
}
@-webkit-keyframes reset {
  0% {
    padding: 30px 0;
  }
  100% {
    padding: 15px 0;
  }
}
/* Begin Login Form Component */
fieldset {
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  margin-top: 10%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  border: solid 1px #333;

}
fieldset h2 {
  color: #0099ff;
  margin: 0;
  font-weight: normal;
  padding-bottom: 20px;
  text-align: center;
}
fieldset .input:last-of-type {
  margin-bottom: 10px;
}
fieldset input {
  -webkit-appearance: none;
  border: none;
  border-bottom: dotted 1px #cccccc;
  background: none;
  padding: 15px 0;
  display: block;
  width: 100%;
  color: #6db70e;
  animation: reset 400ms;
  -webkit-animation: reset 400ms;
}
fieldset input:focus {
  border-bottom: dotted 1px #0099ff;
  outline: none;
  color: #0099ff;
  padding: 30px 0;
  animation: enlarge 400ms;
  -webkit-animation: enlarge 400ms;
}
fieldset input:focus::-webkit-input-placeholder {
  color: #0099ff;
}
fieldset button {
  -webkit-appearance: none;
  padding: 12px 16px;
  background: #0099ff;
  border: none;
  color: white;
}
fieldset .mute {
  color: #666666;
  font-size: 14px;
  font-weight: 100;
}
fieldset .right {
  float: right;
}
#meslek{
  padding: 12px 16px;
  border: none;
   outline: none;
  color: #666666;
    display: block;
  width: 100%;
    border-radius: 5px;
    background-color: #cccccc;
    color:  #333;

}body, svg {
  background: #111111;
}

svg path {
  fill: gold;
}

#container {
  position: absolute;
  width: 100px;
  height: 60px;
  margin: 0;
  left: calc(50% - 50px);
  top: calc(50% - 30px);
}

#loading-mask1, #loading-mask2, #loading-mask3, #loading-mask4, #loading-mask5 {
  animation-name: loader1;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  transform: translate(-10px, 0);
}

#loading-mask2 {
  animation-name: loader2;
}

#loading-mask3 {
  animation-name: loader3;
}

#loading-mask4 {
  animation-name: loader4;
}

#loading-mask5 {
  animation-name: loader5;
}

@keyframes loader1 {
  from {
    transform: translate(-10px, 0);
  }
  to {
    transform: translate(70px, 0);
  }
}
@keyframes loader2 {
  from {
    transform: translate(-100px, 0);
  }
  to {
    transform: translate(70px, 0);
  }
}
@keyframes loader3 {
  from {
    transform: translate(-200px, 0);
  }
  to {
    transform: translate(70px, 0);
  }
}
@keyframes loader4 {
  from {
    transform: translate(-300px, 0);
  }
  to {
    transform: translate(70px, 0);
  }
}
@keyframes loader5 {
  from {
    transform: translate(-400px, 0);
  }
  to {
    transform: translate(70px, 0);
  }
}
